table{
    table-layout: auto;
    border: 1px solid black;
    width: 100%;
}

table, th, td {
    text-align: center;
}

th{
    background-color: bisque;
}

td {
    background-color: lightgoldenrodyellow;
}

a:link, a:active, a:hover, a:visited{
    /*text-decoration: none;*/
    
}

th a, th a:hover
{
    color: black;
    text-decoration: none;
}

li
{
    display:inline;
}

div{
    margin: 2px;
}
