table {
    table-layout: auto;
    align-content:center;
    width: 100%;
}

.link{
    display: inline-block;
    margin: 4px;
}

.links {
    background-color: bisque;
    text-decoration: none;
    color: black;
}

th {
    background-color: bisque;
}

td {
    background-color: lightgoldenrodyellow;
}

.table th:last-child {
    min-width: 170px;
}

.link a, .link a:hover {
    /*color: black;
    text-decoration: none;*/
    /*font-weight: bold;*/
}

li {
    display: inline;
}

div {
    margin: 2px;
}

body {
    background-color: lightgoldenrodyellow;
    padding-bottom: 1px;

}

html {
    background-color: white;
}
