<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage @this.ViewContext.RouteData.Values["controller"].ToString()</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/theme.css">
</head>
<body>
    @{
        var links = new List<string>() { "Plants", "Users", "Mutations" };
    }
    <div class="links">
            @foreach(var link in links)
            {
                <div class="link">
                    <a asp-controller="@link" asp-action="Index">@link</a>
                </div>
            }
    </div>
    @RenderBody()
</body>
</html>
