<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage @this.ViewContext.RouteData.Values["controller"].ToString()</title>
    <link rel="stylesheet" type="text/css" href="~/css/theme.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

