<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage @this.ViewContext.RouteData.Values["controller"].ToString()</title>
    <link rel="stylesheet" type="text/css" href="~/css/theme.css">
</head>
<body>
    <div>
        <navbar>
            <ul>
                <li><a asp-controller="Plants">Plants</a></li>
                <li><a asp-controller="Users">Users</a></li>
                <li><a asp-controller="Mutations">Mutations</a></li>
                <li><a asp-controller="Sessions">Sessions</a></li>
            </ul>
        </navbar>
        @RenderBody()
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

